<div class="flex">
    <div class="w-50 right-side">
        <div class="logo-title">Logo text</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo-image text-align-center">Logo image</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 card">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <footer class="u-padding-bottom--lg">
                <p class="caption"><small>By logging in, you agree to our <a class="link--quiet" href="https://snyk.io/policies">terms and conditions</a></small></p>
            </footer>
        </div>      
    </div>
</div>
