.row{
    display: flex;
    justify-content: center;
}
.row{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    background: #443ea0;
    color: #fff;
}
.flex{
    display: flex;
}
.text-align-center{
    text-align: center;
}
.u-padding-bottom--lg {
    text-align: center;
}