.carousel-item {
  display: block;
}
.carousel{
  display: flex;
  flex-direction: row;
}
.slider-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #221f1f;
  & a{
    background: #ff4242;
    padding: 15px;
  }
}
.carousel-control-next, .carousel-control-prev{
  position: unset;
}
.carousel-inner {
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}
