// .mat-card-image {
//     width: 26%;
// }
// .mat-card {
//     padding: 0px;
// }


.carousel-item{
  display: block;
}
.carousel-movie img{
  height: 100vh;
  min-width: 376px;
  object-fit: cover;
}
.carousel-inner{
  overflow-x: scroll;
  // overflow: hidden;
}
